


    <form [formGroup]="addressFormGroup">


 <div class='mb-2'> <button mat-raised-button color="primary" (click)="saveUserAddress()"
     [disabled]="!addressFormGroup.valid || !addressFormGroup.dirty">Set as Default Address</button></div>
      <mat-form-field class="mr-1 ml-1">
      <mat-label>FirstName</mat-label>
        <input matInput placeholder="First name" formControlName="firstName" required>

        <mat-error *ngIf="addressFormGroup.controls.firstName.hasError('required')">
        First Name is required
       </mat-error>


      </mat-form-field>



      <mat-form-field class="mr-1 ml-1">
      <mat-label>LastName</mat-label>
        <input matInput placeholder="Last name" formControlName="lastName" required>

         <mat-error *ngIf="addressFormGroup.controls.lastName.hasError('required')">
        Last Name is required
       </mat-error>
      </mat-form-field>

      <mat-form-field class="mr-1 ml-1">
      <mat-label>Street</mat-label>
        <input matInput placeholder="Street" formControlName="street" required>
        <mat-error *ngIf="addressFormGroup.controls.street.hasError('required')">
         Street is required
       </mat-error>
      </mat-form-field>

      <mat-form-field class="mr-1 ml-1">
      <mat-label>City</mat-label>
        <input matInput placeholder="City" formControlName="city" required>
         <mat-error *ngIf="addressFormGroup.controls.city.hasError('required')">
         City is required
       </mat-error>
      </mat-form-field>

      <mat-form-field class="mr-1 ml-1">
      <mat-label>State</mat-label>
        <input matInput placeholder="State" formControlName="state" required>
        <mat-error *ngIf="addressFormGroup.controls.state.hasError('required')">
         State is required
       </mat-error>
      </mat-form-field>

      <mat-form-field class="mr-1 ml-1">
      <mat-label>Zipcode</mat-label>
        <input matInput placeholder="Zipcode" formControlName="zipcode" required>
        <mat-error *ngIf="addressFormGroup.controls.zipcode.hasError('required')">
         Zipcode is required
       </mat-error>
      </mat-form-field>




      <div>
        <button mat-button matStepperNext>Next</button>
      </div>



    </form>








