<mat-toolbar color="primary"  class="row">
<span class="col-6"> <img src="../../assets/images/open.svg" alt="" class="fit"></span>
<span class="col-6"> <img src="../../assets/images/shopping-bag.svg" alt="" class="fit"></span>
</mat-toolbar>

<section class="featured">
<div class="d-flex justify-content-center pt-4">
<h1>Welcome to the Shop!</h1>
</div>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare iaculis neque. Vivamus ac eros nec diam tempus consequat sed quis lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce risus quam, sodales non ex quis, malesuada venenatis enim. In hac habitasse platea dictumst. Phasellus in augue ac est tincidunt dictum at faucibus felis. Vivamus vitae gravida nunc, sed auctor quam. Cras tincidunt risus velit, a convallis odio elementum nec. Nam eu diam nec sem placerat finibus. Vivamus in nulla nulla. Sed molestie ligula turpis, in volutpat velit hendrerit vitae. Etiam a elit nec quam iaculis finibus ac eget ligula. Nunc consectetur nec felis non porttitor. Ut bibendum erat faucibus pretium cursus.

Cras convallis, massa at consectetur rhoncus, nunc massa fringilla est, id dictum augue risus sit amet augue. Nam semper mauris vel nisl vehicula, pulvinar imperdiet ligula dignissim. In semper sed turpis at dictum. Ut posuere, metus ac.

</section>



