
<div class="container mt-2">
<div *ngIf="(basket$ | async ) === null">
<p>There are no items in the basket</p>
</div>


<div *ngIf="basket$ | async ">
<div class="pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 py-5 mb-1">
      <app-basket-summary
      (decrement)="decrementItemQuantity($event)"
      (increment)="incrementItemQuantity($event)"
      (remove)= "removeBasketItem($event)">
      </app-basket-summary>
      </div>
    </div>

    <div class="row">
        <div class="col-ls-6 col-xl-6 col-md-6 col-sm-0 col-xs-0"></div>
        <div class="col-ls-6 col-xl-6 col-md-6 col-sm-12 col-sx-12">
        <app-order-total></app-order-total>
        <button mat-raised-button color="primary" class="col-12" routerLink="/checkout"   [class.mat-elevation-z8]="true" (click)="sayHello()">checkout</button>
        </div>
    </div>
  </div>
</div>

</div>
</div>
