
<div class="container mt-5">
<div  class="row" *ngIf="product">


<div class="col-6">

<img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid w-100">
</div>


<div class="col-6">
<h2>{{product.name}}</h2>
<p style="font-size: 2em">{{product.price | currency: 'INR'}}</p>

<div class="d-flex justify-content-start align-items-center">

      <button mat-mini-fab	class="mr-3" color="primary" (click)="incrementQuantity()"><strong>+</strong></button>
      <span class="font-weight-bold" style="font-size: 1.5em">{{quantity}}</span>

      <button mat-mini-fab	class="ml-3" color="warn" (click)="decrementQuantity()"><strong>-</strong></button>

<button mat-raised-button color="primary" class="ml-4"  (click)="addItemToBasket()">Add to Cart</button>
</div>
</div>

<div class="row mt-5">
<div class="col-12 ml-3">
<h4>Description</h4>
<p>{{product.description}}</p>
</div>
</div>
</div>

</div>






