


<div class="container mt-3">

  <div class="row">
    <section class="col-3">
   <ng-container *ngIf="types && brands">




      <h5 class="ml-3">Sort</h5>

<select class="custom-select mb-3" (change)="onSortSelected($event.target.value)">
      <option *ngFor="let sort of sortOptions"
      [value]="sort.value">{{sort.name}}</option>
      </select>









    <h5 class="ml-3">Brands</h5>



<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group">


<ng-container  *ngFor="let brand of brands" >

 <mat-radio-button *ngIf="brand.id != 0" class="example-radio-button" [value]="brand.id" (change)="onBrandSelected(brand.id)">
    {{brand.name}}
  </mat-radio-button>
    <mat-radio-button *ngIf="brand.id === 0" class="example-radio-button" [value]="brand.id" (change)="onBrandSelected(brand.id)" [checked]='true'>
    {{brand.name}}
  </mat-radio-button>

</ng-container>





</mat-radio-group>







    <h5 class="ml-3">Types</h5>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group">

<ng-container  *ngFor="let type of types" >

 <mat-radio-button *ngIf="type.id != 0" class="example-radio-button" [value]="type.id" (change)="onTypeSelected(type.id)">
    {{type.name}}
  </mat-radio-button>
    <mat-radio-button *ngIf="type.id === 0" class="example-radio-button" [value]="type.id" (change)="onTypeSelected(type.id)" [checked]='true'>
    {{type.name}}
  </mat-radio-button>

</ng-container>

</mat-radio-group>


   </ng-container>

</section>



   <section class="col-9 ">
    <div class="d-flex justify-content-between align-items-center pb-2">
      <app-paging-header
      [totalCount]="totalCount"
      [pageSize]="this.shopParams.pageSize"
      [pageNumber]="this.shopParams.pageNumber"

      ></app-paging-header>
    <div class="form-inline" *ngIf="products">

       <mat-form-field class="example-full-width">
       <mat-label>Search</mat-label>
       <input #search (keydown.enter)="onSearch()" matInput placeholder="ex.pizza" style="width:150px;">
       </mat-form-field>

    <button (click)="onSearch()" mat-button color="primary">Search</button>

    <button  (click)="onReset()" mat-button color="warn" >Reset</button>
  </div>
</div>

 <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4 col-xl-4 mb-4 col-sm-12 col-xs-12" *ngFor="let item of products">
            <app-product-item [product]="item"></app-product-item>
            </div>



          </div>


 <div class="d-flex justify-content-center">

<app-pager
[pageSize]="shopParams.pageSize"
[totalCount]="totalCount"
(pageChanged)="onPageChanged($event)"
></app-pager>





</div>






   </div>
 </div>
</section>
</div>
</div>


